<h1>Rock, Paper, Scissors</h1>
<h3>Choose a weapon</h2>
<a href="rps_submitted?weapon=paper"><%= image_tag "paper.png" ,:class => "rps_img" %></a>  
<a href="rps_submitted?weapon=rock"><%= image_tag "rock.png" ,:class => "rps_img" %></a>
<a href="rps_submitted?weapon=scissors"><%= image_tag "scissors.png" ,:class => "rps_img" %></a>